extends layout

block header
	h1 Chit
	a#current-chat-link link to this chat

block footer
	p
		| Hey, wouldn't it be cool if you were notified when someone mentions you?
		button#notification-yes Yeah!
		button#notification-no Nah…

block content
	#setup.full-page
		p What would you like to do?
		div#toggles
			button(data-toggle="new-chat").toggle Create a new chat.
			button(data-toggle="existing-chat").toggle Join an existing chat.
		ol.existing-chat.new-chat
			li.existing-chat
				input(type="text", placeholder="Enter the chat ID.")#chat-id
			li.existing-chat
				input(type="text", placeholder="Enter the chat key or passphrase.")#chat-key
			li.new-chat
				div
					button#generate-password Generate a good passphrase
					| or
				input(type="text", placeholder="Enter a passphrase.")#password
				span
					span.password-strength-warning Please choose a better passphrase.
			li
				button#okay Okay!
		#new-chat-created
			p
				| A new chat has been created. Its ID is 
				em.chat-id-field __CHATID__
				| .
			p.password Remember your passphrase well. Write it down, if you must.
			p.chat-key The chat key is 
				em.chat-key-field __CHATKEY__
				| .
			button#join-chat Go there now.
	#chat
		#display
			ul#message-history
			#gradient-overlay-top
			#gradient-overlay-bottom
			ul#user-list
		#controls
			input(type="text", placeholder="Type your message here, press return to send.")#message-input
