#chat {
	display: none;
}

// general page layout

@userlist-width: 100px;
@control-height: 1.6em;

#display {
	.row;
	.scroll-y;
	top: 0;
	bottom: @control-height;
	#message-history {
		.col;
		.scroll-y;
		left: 0;
		right: @userlist-width;
	}
	#user-list {
		.col;
		.scroll-y;
		width: @userlist-width;
		right: 0;
	}
}
#controls {
	.row;
	height: @control-height;
	bottom: 0;
}

// stylin'

#content {
	outline: 1px solid @downlight;
}

#current-chat-link {
	display: none;
	position: absolute;
	top: @header-height - 1.5 * @rem;
	right: 2.5 * @rem;
}

// notification question
footer {
	p {
		margin: 3px 0;
	}
	button {
		.bigButton;
		font-size: 1.2em;
		margin-left: 1em;
	}
}

// @mixin
.list {
	overflow: scroll;
	font-size: .9em;
	list-style: none;
	li {
		padding-left: .8em;
	}
}
#user-list {
	.list;
	outline: 2px dashed black;
	background-color: @background;
}
#message-history {
	.list;
	.timestamp {
		margin-right: 5px;
		color: grey;
	}
	.from {
		margin-right: 5px;
		color: blue;
		&:before {
			content: "<";
		}
		&:after {
			content: ">";
		}
	}
}

.highlight {
	background-color: @highlight;
}
.unconfirmed {
	color: grey;
}
.error {
	color: red;
}

// controls

#message-input {
	width: 100%;
	font-size: 1em;
	padding: .2em .8em;
}

// gradients

// @mixin
.gradient-overlay {
	display: none;
	height: 8px;
	position: absolute;
	width: 100%;
}
#gradient-overlay-top {
	.gradient-overlay;
	top: 0;
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 60%, rgba(0,0,0,0.2) 100%); // Chrome10+,Safari5.1+
	background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 60%, rgba(0,0,0,0.2) 100%); // W3C
}
#gradient-overlay-bottom {
	.gradient-overlay;
	bottom: 0;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 60%, rgba(0,0,0,0.2) 100%); // Chrome10+,Safari5.1+
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 60%, rgba(0,0,0,0.2) 100%); // W3C
}
